@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using ReksadanaRekon.Models;


@{
    ApplicationDbContext _context = new ApplicationDbContext();
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
    var Npp = currentUser.NPP;
    var Password = "BNI"+currentUser.NPP;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("RENA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Upload <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Subscription", "Index", "Uploads")</li>
                        <li>@Html.ActionLink("Redemption & Switching", "Index", "Redemps")</li>
                        <li><div class="divider"></div></li>
                        <li>@Html.ActionLink("Input Data Retur", "Index", "Returs")</li>
                        <li>@Html.ActionLink("Input Data Redemption", "Input", "Redemps")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List Unmatch <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Unmatch Subscription", "Index", "RekonManuals")</li>
                        <li>@Html.ActionLink("Unmatch Redemption & Switching", "Index", "RedempManuals")</li>
                        <li>@Html.ActionLink("Unmatch Retur", "Index", "ReturManuals")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">History <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a class="test" href="#">Subscription <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aplikasi", "Index", "HistoryMatchApps")</li>
                                <li>@Html.ActionLink("Fund", "Index", "HistoryMatchFunds")</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="test" href="#">Redemption & Switching <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aplikasi", "Index", "HistoryRedApps")</li>
                                <li>@Html.ActionLink("Fund", "Index", "HistoryRedFunds")</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="test" href="#">Retur <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Aplikasi", "Index", "HistoryReturApps")</li>
                                <li>@Html.ActionLink("Fund", "Index", "HistoryReturFunds")</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @if (User.IsInRole("Pimkel") || User.IsInRole("Pengelola") || User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Approval <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a class="test" href="#">Subscription <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Match Data Aplikasi", "Index", "ApvMatchApps")</li>
                                    <li>@Html.ActionLink("Reject Data Aplikasi", "Index", "ApvRejectApps")</li>
                                    <li>@Html.ActionLink("Reversal Data Aplikasi", "Index", "ApvRevApps")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" href="#">Redemption & Switching <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Match Data Aplikasi", "Index", "ApvRedMatchs")</li>
                                    <li>@Html.ActionLink("Reject Data Aplikasi", "Index", "ApvRedRejects")</li>
                                    <li>@Html.ActionLink("Reversal Data Aplikasi", "Index", "ApvRedRevs")</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="test" href="#">Retur <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Match Data Aplikasi", "Index", "ApvReturMatchs")</li>
                                    <li>@Html.ActionLink("Reject Data Aplikasi", "Index", "ApvReturRejects")</li>
                                    <li>@Html.ActionLink("Reversal Data Aplikasi", "Index", "ApvReturRevs")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }

                <li>@Html.ActionLink("Rekening", "Index", "Rekenings")</li>
                <li>@Html.ActionLink("Report", "Index", "Reports")</li>
                <li>
                    <a href="https://localhost:7255/account/loginopt?NPP=@Npp&password=@Password" >MOVE </a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>