@model IEnumerable<ReksadanaRekon.Models.Master.MI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="padding-top:15px;">Master MI</h3>
<div class="row">
    <div class="well">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearScreen()">Tambah MI</button>
        </div>
        <div class="clearfix" style="margin:10px;"></div>
        <table id="mis" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Nama</th>
                    <th>Pembuat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Kategori Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="form-control" id="Id" />
                    <div class="form-group">
                        <label for="Code">Code</label>
                        <input type="text" class="form-control" id="Code" placeholder="Code" />
                    </div>
                    <div class="form-group">
                        <label for="Nama">Nama</label>
                        <input type="text" oninput="this.value = this.value.toUpperCase()" class="form-control" id="Nama" placeholder="Nama" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Save();">Simpan</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Edit();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearScreen()" ;>Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            LoadIndex();
            ClearScreen();
            $('#mis').DataTable({
                "ajax": LoadIndex()
            })
        })

        function LoadIndex() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get", "MIs")",
                async: false,
                dataType: "JSON",
                success: function (data) {
                    var html = '';
                    var i = 1;
                    $.each(data, function (index, val) {
                        html += '<tr>';
                        html += '<td>' + i + '</td>';
                        html += '<td>' + val.Code + '</td>';
                        html += '<td>' + val.Nama + '</td>';
                        html += '<td>' + val.User.Nama + '</td>';
                        html += '<td> <a href="#" class="btn btn-info" onclick="return GetById(' + val.Id + ')">Edit</a>';
                        html += ' <a href="#" class="btn btn-danger" onclick="return Delete(' + val.Id + ')">Delete</a> </td>';
                        html += '</tr>';
                        i++;
                    });
                    $('.tbody').html(html);
                }
            })
        }

        function Save() {
            var mis = new Object();
            mis.code = $('#Code').val();
            mis.nama = $('#Nama').val();
            $.ajax({
                url: "@Url.Action("Save", "MIs")",
                type: 'POST',
                dataType: 'json',
                data: mis,
                success: function (result) {
                    LoadIndex();
                    $('#myModal').modal('hide');
                }
            });
        }

        function Edit() {
            var mis = new Object();
            mis.id = $('#Id').val();
            mis.code = $('#Code').val();
            mis.nama = $('#Nama').val();
            $.ajax({
                url: "@Url.Action("Save", "MIs")",
                data: mis,
                type: "POST",
                dataType: "json",
                success: function (result) {
                    LoadIndex();
                    ClearScreen();
                    $('#myModal').modal('hide');
                    $('#Id').val('');
                    $('#Code').val('');
                    $('#Nama').val('');
                }
            });
        }

        function GetById(id) {
            $.ajax({
                url: "@Url.Action("GetById", "MIs")/" + id,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $('#Id').val(result.Id);
                    $('#Code').val(result.Code);
                    $('#Nama').val(result.Nama);

                    $('#myModal').modal('show');
                    $('#Update').show();
                    $('#Save').hide();
                }
            })
        }

        function Delete(id) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: "@Url.Action("Delete", "MIs")/" + id,
                    type: "DELETE",
                    success: function (response) {
                        swal({
                            title: "Deleted!",
                            text: "That data has been delete!",
                            type: "success"
                        },
                        function () {
                            window.location.href = '@Url.Action("Index", "MIs")';
                        });
                    },
                    error: function (response) {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    }
                });
            });
        }

        function ClearScreen() {
            $('#Update').hide();
            $('#Save').show();
            $('#Id').val('');
            $('#Nomor').val('');
            $('#Nama').val('');
        }
    </script>
}




